COMMANDE A EXECUTER DANS LA CONSOLE

pip install requests



LIBRAIRIES A IMPORTER DANS LES FICHIERS 

import requests
from bs4 import BeautifulSoup
from urllib.parse import urljoin
import csv
from books import info_books
import time
from category import info_category
